.big_img {
    width: 100%;

} 
.heading{
    width: 100%;
    text-align: left;
}
.heading button {
    float: right;
    border: solid 2px black;
    font-size: 25px;
}
#start {
    font-size: 25px;

}
.instruction_image {
    width:45%;
    display: inline-block;
}
h4{
    background-color: coral;
    line-height: 2;
    margin:0px;
}
.modal-dialog{
    width: 90%;
}
#footer{
    bottom: 0;
}
video{
    background: url('game_console.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
}